.login {
  display: flex;
  height: 100vh;
  position: relative; /* Permet à .form-container d'être positionné en absolu */
}

.background {
 /* position: absolute;*/
  /*top: 10%;
  left: 10%;
  width: 100%;
  height: 70%;
  background-image: url('/assets/téléchargement.jpeg'); *//* Assurez-vous que le chemin est correct */
  /*background-size: cover;*/ /* L'image couvre toute la surface */
  /*background-position: center;*/ /* Centre l'image */
  /*background-repeat: no-repeat;
  z-index: -1;*/ /* S'assure que l'image reste en arrière-plan */
  flex: 1;
    background-image: url('/assets/img.png'); /* Ensure path is correct */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); *//* Centre le formulaire */
  /*display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
}*/

.form-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
 /* background-color: #c8d2ff;*/
}

/*.form-box {
  padding: 20px;
  background-color: white;*/ /* Fond blanc pour contraster avec l'image */
 /* border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
}*/

 
.form-box {
  padding: 20px;
  margin-top: 20px;
  max-width: 400px;
  width: 100%;
  background-color:  white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  color: #1976d2;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 15px;
}

.btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-primary {
  background-color: #1976d2;
  color: white;
}

.btn-primary:hover {
  background-color: #155a8a;
}

.btn-secondary {
  border: 1px solid #1976d2;
  color: #1976d2;
  background-color: white;
}

.btn-secondary:hover {
  background-color: #f0f0f0;
}
