<div class="appbar-container">
    <div class="appbar">
      <img src="assets/document.png" alt="Logo" class="logo" />
      <div class="title">Gestion des documents</div>
      <div class="spacer"></div>
      <nav>
        <!-- Icône pour ajouter matière -->
        <button *ngIf="userRole === 'ADMIN'" (click)="toggleMatiereForm()" class="appbar-button">
          <i class="fa fa-plus-circle" aria-hidden="true"></i> Ajouter Matière
        </button>
  
        <!-- Icône pour afficher la liste des matières -->
        <button (click)="toggleMatiereList()" class="appbar-button">
          <i class="fa fa-list" aria-hidden="true"></i> Afficher Matières
        </button>

        <button class="login-logout-button" (click)="navigateToHome()">Acceuil</button>
         
        <button class="login-logout-button" (click)="handleLoginLogout()">
          {{ isLoggedIn ? 'Déconnexion' : 'Connexion' }}
        </button>
      </nav>
    </div>
  </div>
  
  <!-- Formulaire pour ajouter une matière -->
  <div *ngIf="showMatiereForm" class="matiere-form">
    <label for="matiereNom">Nom de la Matière:</label>
    <input id="matiereNom" [(ngModel)]="matiereNom" type="text" placeholder="Entrez le nom de la matière" />
    <button (click)="addMatiere()">Confirmer</button>
  </div>
  
  <!-- Liste des matières -->
  <div class="matiere-list" *ngIf="isMatiereListVisible">
    <h3>Liste des matières</h3>
    <ul>
      <li *ngFor="let matiere of matieres">
        <!--<a (click)="navigateToMatiereDocuments(matiere.id)">{{ matiere.nom }}</a>-->
        <a (click)="navigateToMatiereDocuments(matiere.id )">{{ matiere.nom }}</a>
        <button *ngIf="userRole === 'ADMIN'" (click)="deleteMatiere(matiere.id)">Supprimer</button>
      </li>
    </ul>
    <div *ngIf="matieres.length === 0">
      <p>Aucune matière trouvée.</p>
    </div>
  </div>
  
  