.appbar-container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.appbar {
  background-color: #1976d2;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border: 4px;
}

.logo {
  height: 40px;
  margin-right: 16px;
}

.title {
  font-weight: bold;
  color: white;
  flex-grow: 1;
}

.spacer {
  flex-grow: 1;
}

nav {
  display: flex;
  align-items: center;
}

nav button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin: 0 8px;
  display: flex;
  align-items: center;
}

nav button i {
  margin-right: 5px; /* Espace entre l'icône et le texte */
  font-size: 20px; /* Taille des icônes */
}

nav .appbar-button {
  background-color: transparent;
  border: 1px solid #ffffff;
  padding: 8px 12px;
  border-radius: 4px;
}

nav .appbar-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.login-logout-button {
  background-color: white;
  color: #1976d2;
  border: 1px solid #1976d2;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 16px;
  font-weight: bold;
}

.login-logout-button:hover {
  background-color: #1976d2;
  color: white;
}

.matiere-form {
  margin: 20px 0;
  padding: 16px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.matiere-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.matiere-form input {
  width: 90%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 5px;
}

.matiere-form button {
  background-color:#e53935 ;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.matiere-form button:hover {
  background-color: #1565c0;
}

.matiere-list {
  position: absolute;
  top: 60px;
  right: 16px;
  background-color: white;
  border: 1px solid #ddd;
  width: 20%;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 16px;
  z-index: 1000;
}

.matiere-list ul {
  list-style: none;
  padding: 0;
}

.matiere-list li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.matiere-list button {
  background-color: #e53935;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.matiere-list button:hover {
  background-color: #c62828;
}
